@use './_tasks' as *;
@use './_stats' as *;

:root {
    --color-background: #0d0d0d;
    --color-secondary: #333;
    --color-tertiary: #888;
    --color-brand: #e6c41d;
    --color-text: #fff;
    --size-font-s: 14px;
    --size-font-m: 18px;
    --size-font-l: 24px;
    --spacing: 0.25rem;
}

* {
    font-family: 'JetBrains Mono', monospace;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    &:focus {
        outline: none;
    }
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0.5px solid var(--color-secondary);
    &:hover {
        color: var(--color-text);
    }
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: var(--color-background);
    font-size: var(--size-font-m);
    color: var(--color-text);
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.btn {
    border: 0;
    padding: 8px 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    line-height: 1;
    &-primary {
        background-color: var(--color-brand);
        color: #000;
    }
    &-ghost {
        background-color: var(--color-secondary);
        color: var(--color-text);
    }
    &:hover {
        opacity: 0.9;
    }
}

.app-header {
    padding: calc(var(--spacing) * 3) 0;
    border-bottom: 1px solid var(--color-secondary);
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .app-title {
        margin: 0;
        font-size: var(--size-font-l);
        sup {
            font-size: var(--size-font-s);
            margin-left: 2px;
            color: var(--color-tertiary);
        }
    }
    .tab {
        background-color: transparent;
        color: var(--color-text);
        font-size: var(--size-font-m);
        &[aria-selected='true'] {
            color: var(--color-brand);
        }
    }
}

.app {
    margin: calc(var(--spacing) * 3) 0;
    flex: 1;
}

#view-stats,
#view-list {
    max-width: 100vw;
    overflow-x: scroll;
}

.app-footer {
    padding: calc(var(--spacing) * 3);
    font-size: var(--size-font-s);
    color: var(--color-tertiary);
    text-align: center;
}
