.app-header .container {
    flex-direction: column;
    .app-nav {
        position: fixed;
        z-index: 999;
        width: 100%;
        padding: calc(var(--spacing) * 4) 0;
        background-color: rgba(13, 13, 13, 0.6);
        backdrop-filter: blur(20px);
        text-align: center;
        border-top: 1px solid var(--color-secondary);
        bottom: env(safe-area-inset-top);
        right: 0;
        left: 0;
    }
}

.task-name {
    max-width: 40vw;
}
